<%- include("_header") -%>


    <div class="container bg-transparent text-white" style="border: none;box-shadow: none;">
        <div class="card bg-transparent text-white" style="border: none;box-shadow: none;">
            <h3 style="text-align: center;">FAQs</h3>
            <div class="accordion" id="accordionSection">
                <div class="accordion-item mb-3">
                    <h2 class=" accordion-header"><button type="button"
                            class="accordion-button collapsed bg-dark text-white" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne">How was this site built?
                        </button></h2>
                    <div class="accordion-collapse collapse bg-dark text-white" id="collapseOne"
                        data-bs-parent="accordionSection">
                        <div class="accordion-body">
                            The site was built using Node.JS, Express.JS, Bootstrap,
                            and
                            Plotly.
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion" id="accordionSection">
                <div class="accordion-item mb-3">
                    <h2 class="accordion-header"><button type="button"
                            class="accordion-button collapsed bg-dark text-white" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo">Where does the data come
                            from?
                        </button></h2>
                    <div class="accordion-collapse collapse bg-dark text-white" id="collapseTwo"
                        data-bs-parent="accordionSection">
                        <div class="accordion-body">
                            The data is collected from the <a
                                href="https://oldschool.runescape.wiki/w/RuneScape:Real-time_Prices">OldSchool Runescape
                                Grand Exchange
                                Wikipedia</a>.
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" id="accordionSection">
                <div class="accordion-item mb-3">
                    <h2 class=" accordion-header"><button type="button"
                            class="accordion-button collapsed bg-dark text-white" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree">Why is some data
                            missing?
                        </button></h2>
                    <div class="accordion-collapse collapse bg-dark text-white" id="collapseThree"
                        data-bs-parent="accordionSection">
                        <div class="accordion-body">
                            There could be a few reasons for this:
                            <ul style="list-style: none;">
                                <li>1.) The website was created Fall 2022 and due to recent tracking
                                    implementation, prior to this period the data is missing.</li>
                                <li>2.) During game updates, the servers go down and data is unable to be
                                    tracked during this period. </li>
                                <li>3.) If data shows null or a value of 0 then there isn't enough trading
                                    volume or data that the API has therefore this site won't have it
                                    either.</li>
                                <li>4.) Any downtime the site or API experiences will also lead to data to
                                    be missing.</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" id="accordionSection">
                <div class="accordion-item mb-3">
                    <h2 class=" accordion-header"><button type="button"
                            class="accordion-button collapsed bg-dark text-white" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour">Why are there discrepancies in data?
                        </button></h2>
                    <div class="accordion-collapse collapse bg-dark text-white" id="collapseFour"
                        data-bs-parent="accordionSection">
                        <div class="accordion-body">
                            If the data shows that the high price and low price are the same or that the low price is
                            higher than the high price then this means there isn't enough data for this item currently
                            for
                            accurate results. This could be due to an extremely low trading volume.
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" id="accordionSection">
                <div class="accordion-item mb-3">
                    <h2 class=" accordion-header"><button type="button"
                            class="accordion-button collapsed bg-dark text-white" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive">How often is the data collected?
                        </button></h2>
                    <div class="accordion-collapse collapse bg-dark text-white" id="collapseFive"
                        data-bs-parent="accordionSection">
                        <div class="accordion-body">
                            The data is collected every 5 minutes. The data visualization
                            currently provides the option of viewing the data for the last
                            week. Currently there are plans to implement a few more optins
                            such as last month, last quarter, and last year.
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" id="accordionSection">
                <div class="accordion-item mb-3">
                    <h2 class=" accordion-header"><button type="button"
                            class="accordion-button collapsed bg-dark text-white" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix">How can I get in contact for
                            feedback, bugs, etc.?
                        </button></h2>
                    <div class="accordion-collapse collapse bg-dark text-white" id="collapseSix"
                        data-bs-parent="accordionSection">
                        <div class="accordion-body">
                            You can contact me via this <a href="https://forms.gle/mbhH4pegA8qQqXWG9">form</a>.
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" id="accordionSection">
                <div class="accordion-item mb-3">
                    <h2 class=" accordion-header"><button type="button"
                            class="accordion-button collapsed bg-dark text-white" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeven">Where can I see your code?
                        </button></h2>
                    <div class="accordion-collapse collapse bg-dark text-white" id="collapseSeven"
                        data-bs-parent="accordionSection">
                        <div class="accordion-body">
                            You can view my code at my <a
                                href="https://github.com/gurjindertoor/grandExchange_price_tracker">GitHub</a>. The code
                            is open sourced for anyone
                            to
                            see.
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" id="accordionSection">
                <div class="accordion-item mb-3">
                    <h2 class=" accordion-header"><button type="button"
                            class="accordion-button collapsed bg-dark text-white" data-bs-toggle="collapse"
                            data-bs-target="#collapseEight">Can I contribute to the project?
                        </button></h2>
                    <div class="accordion-collapse collapse bg-dark text-white" id="collapseEight"
                        data-bs-parent="accordionSection">
                        <div class="accordion-body">
                            By all means! You're more than welcome to contribute in any way toward this project.
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>