body,
html {
    height: 100%;
}

.bg {
    background: #fff;
    background-image: url(images/pexels-pixabay-235985.jpg);
    background-position: center;
    background-repeat: round;
    background-size: cover;
    z-index: -1;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.2;
    height: 100%;
    width: 100%;
}

.search-box {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    flex-grow: 1;
}

.btn.btn-search {
    border-radius: 0;
    height: 50px;
    background: #7d2218;
    color: #fff;
}

.btn.btn-search:hover {
    background: #7d2218
}


.search-input:focus {
    outline: none;
    box-shadow: none;
}